* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1e1e1e;
    color: white;
}

#app {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 280px;
    background-color: #2a2a2a;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

#sidebar h2 {
    margin-bottom: 20px;
}

#projects {
    flex: 1;
}

.project-card {
    background-color: #3a3a3a;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.project-card:hover {
    background-color: #4a4a4a;
}

#main-content {
    flex: 1;
    padding: 30px;
}

#todos {
    margin-top: 20px;
}

button {
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.todo-card {
    background-color: #2f2f2f;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.active-project {
    background-color: #5a5a5a;
}

#project-form {
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#project-form input {
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.completed {
    opacity: 0.6;
    text-decoration: line-through;
}

#todo-form {
    margin-top: 20px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#todo-form input,
#todo-form select {
    padding: 10px;

    border: none;
    border-radius: 8px;

    background-color: #2f2f2f;
    color: white;
}

#todo-form input::placeholder {
    color: #bdbdbd;
}

#todo-form button {
    background-color: #5a5a5a;
    color: white;

    transition: 0.2s;
}

#todo-form button:hover {
    background-color: #707070;
}

#project-form button,
.complete-btn,
.delete-btn {
    background-color: #5a5a5a;
    color: white;

    transition: 0.2s;
}

#project-form button:hover,
.complete-btn:hover,
.delete-btn:hover {
    background-color: #707070;
}